@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* --------------------------------------------------

reset

-------------------------------------------------- */

v\:line, v\:rect, v\:fill, v\:image, v\:stroke{ behavior: url(default.css#default#VML); }

/*--------------------------------------------
  HTML5 Reset ::style.css
  -------------------------
  We have learned much from/been inspired by/taken code where offered from:
  Eric Meyer:http://ericmeyer.com
  HTML5 Doctor:http://html5doctor.com
  and the HTML5 Boilerplate:http://html5boilerplate.com
---------------------------------------------*/

/* Let's default this puppy out
--------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}
article, aside, figure, footer, header, hgroup, nav, section{display:block;}

/* Responsive images and other embedded objects
   Note:keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
/*
img,
object,
embed{max-width:100%;}
.ie8 img,
.ie8 object,
.ie8 embed{width:auto;}
*/
html{/* overflow-y:scroll; */}
ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:''; content:none;}
a{margin:0; padding:0;  vertical-align:baseline; background:transparent;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted #000; cursor:help;}
table{border-collapse:collapse; border-spacing:0;}
th{font-weight:bold; vertical-align:top;}
td{font-weight:normal; vertical-align:top;}
hr{display:block; height:1px; border:0; border-top:1px solid #999; margin:1em 0; padding:0;}
input, select{vertical-align:top;}
pre{
  white-space:pre; /* CSS2 */
  white-space:pre-wrap; /* CSS 2.1 */
  white-space:pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap:break-word; /* IE */
}
input[type="radio"]{vertical-align:middle;}
input[type="checkbox"]{vertical-align:middle; *vertical-align:baseline;}
select, input, textarea{font:99% sans-serif;}
table{font:100%;}
a:hover, a:active{outline:none;}
strong, th{font-weight:bold;}
td, td img{vertical-align:top;}
sub, sup{line-height:0; position:relative;}
sup{top:0;}
sub{bottom:-0.25em;}
pre, code, kbd, samp{font-family:monospace, sans-serif;}
.clickable,
label,
input[type=button],
input[type=submit],
button{cursor:pointer;}
button, input, select, textarea{margin:0;}
button{width:auto; overflow:visible;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{vertical-align:bottom;}

/* --------------------------------------------------

Base Setting

-------------------------------------------------- */

html {
  font-size:62.5%;
}

*, *:before, *:after{
	box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.875;
  color: #222222;
  width: 100%;
  min-width: 1000px;
  letter-spacing: 0.1em;
  -webkit-text-size-adjust: 100%;
}
body{
	opacity: 0;
	/*visibility: hidden;*/
}
.loaded body{
	opacity: 1;
	visibility: visible;
	transition-property: opacity, visibility;
	transition-duration: .5s;
}
@media screen and (max-width:767px) {
  body {
    font-size: 12px;
    min-width: 320px;
    line-height: 1.83;
    letter-spacing: 0.12em;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
fieldset {
  border: none;
}
input, textarea, select, label {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  vertical-align: middle;
}
select{
  box-sizing: border-box;
  background-color: white;
  cursor: default;
}
input[type="submit"] {
  -webkit-appearance: none;
}
label, button {
  cursor: pointer;
}
textarea {
  overflow: auto;
  box-sizing: border-box;
}
header, hgroup, footer, article, section, nav, aside, figure {
  display: block;
}
img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}
em, strong {
  font-weight: bold;
  font-style: normal;
}
mark {
  font-weight: bold;
}
object {
  vertical-align: middle;
  outline: none;
}
blockquote, q {
  quotes: none;
}
q:before, q:after {
  content: '';
}
code {
  font-family: monospace;
}
sup {
	font-size: 70%;
  vertical-align:super;
}
sub {
  font-size: 70%;
  vertical-align: bottom;
  position: relative;
  bottom: 1.1em;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
abbr, acronym {
  border: none;
  font-variant: normal;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #333;
  cursor: help;
}
address, caption, cite, code, dfn, var {
  font-weight: normal;
  font-style: normal;
}
hr {
  display: none;
}
pre {
  font-family: monospace;
}

a {
  color: #551900;
  vertical-align: baseline;
  text-decoration: none;
  transition: all .2s;
}
@media print, screen and (min-width:768px){
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    transition: .2s ease-in-out;
  }
}
a[nohref]{
  cursor:pointer;
}

.clear:after,.section-inner:after{display:table;content:"";clear:both;}
.clear,.section-inner{zoom:1;}
.clearfix:after{content:""; display:block; clear:both;}

@media screen and (max-width:767px) {
  img {
    max-width: 100%;
    height: auto;
  }
  sub {
    bottom: .85em;
  }
}

/* --------------------------------------------------

ヘッダー

-------------------------------------------------- */
#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
#header .header_wrap{
  position: relative;
  border-top: 6px solid #551900;
  background-color: #fff;
}
/* #header .header_wrap::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #F096A3 0%, #F096A3 50%, #7EC9C5 50%, #7EC9C5 100%);
} */
#header .header_inner{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header_block {
  display: flex;
  align-items: center;
}
#header .header_sns > ul{
  display: flex;
}
#header .header_sns li a{
  display: block;
}
#header .header_netorder {
  position: relative;
}
#header .header_netorder::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2px;
  height: 55px;
  background: url(/m_menu/new/220915_test/images/h_border.png) no-repeat;
  background-size: contain;
}

@media print, screen and (min-width:768px){
  #header .header_wrap{
    padding-left: 2.083%;
    padding-right: 2.083%;
  }
  #header .header_inner{
    height: 94px;
  }
  #header .header_logo{
    width: 90px;
  }
  #header .header_sns li{
    width: 34px;
    margin-left: 20px;
  }
  #header .header_netorder{
    width: 220px;
    margin-left: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width:767px){
  #header .header_wrap{
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
  }
  /* #header .header_wrap::before{
    height: 5px;
  } */
  #header .header_inner{
    height: 67px;
  }
  #header .header_logo{
    width: 56px;
  }
  #header .header_sns li{
    width: 20px;
    margin-left: 10px;
  }
  #header .header_netorder{
    width: 65px;
    margin-left: 20px;
    padding-left: 20px;
  }
}
/* is-pin */
#header.is-pin .header_wrap{
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 0 0 1px rgba(238, 238, 238, 1);
}

/* --------------------------------------------------

footer

-------------------------------------------------- */
#footer{}
#footer .footer_info{
  background-color: #551900;
}
#footer .footer_info_inner{
  max-width: 1000px;
  margin: auto;
}
#footer .footer_info .copyright > p{
  color: #fff;
}
@media print, screen and (min-width:768px){
  #footer .footer_info{
    padding-left: 25px;
    padding-right: 25px;
  }
  #footer .footer_info_inner{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #footer .footer_info .copyright{
    display: flex;
    justify-content: space-between;
  }
  #footer .footer_info .copyright > p{
    font-size: 12px;
  }
}
@media screen and (max-width:767px){
  #footer .footer_info{
    padding-left: 10px;
    padding-right: 10px;
  }
  #footer .footer_info_inner{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #footer .footer_info .copyright{
    font-size: 10px;
    text-align: center;
  }
  #footer .footer_info .copyright > p + p{
    margin-top: 5px;
  }
}


/* --------------------------------------------------

default css

-------------------------------------------------- */

/* general
-------------------------------------------------- */
.aL{text-align:left !important;}
.aC{text-align:center !important;}
.aR{text-align:right !important;}

.vT{vertical-align:top !important;}
.vM{vertical-align:middle !important;}
.vB{vertical-align:bottom !important;}

.jfL{justify-content:flex-start !important;}
.jfC{justify-content:center !important;}
.jfR{justify-content:flex-end !important;}
.al_itemT{align-items:flex-start !important;}
.al_itemC{align-items:center !important;}
.al_itemB{align-items:flex-end !important;}

.fL{float:left;}
.fR{float:right;}
.fN{float:none;}

.fw4{font-weight:400 !important;}
.fw5{font-weight:500 !important;}
.fwB{font-weight:bold !important;}
.fwN{font-weight:normal !important;}

.wordB{
  word-break:break-all;
  word-wrap: break-word;
}

.letterSp15{
  letter-spacing: 1.5em;
}

.underline{
  text-decoration: underline;
}

.imeFull{ime-mode:active;}    /*初期値：日本語入力モード*/
.imeHalf{ime-mode:inactive;}  /*初期値：英数字入力モード*/
.imeAlp{ime-mode:disabled;}  /*英数字入力モード*/

.borderNone{border:none !important;}
.border_leftNone{border-left:none !important;}
.border_rightNone{border-right:none !important;}
.border_topNone{border-top:none !important;}
.border_bottomNone{border-bottom:none !important;}

.indent1 li{
	text-indent: -1em;
	padding-left: 1em;
}
.indent12 li{
	text-indent: -1.2em;
	padding-left: 1.2em;
}
.indent18 li{
	text-indent: -1.8em;
	padding-left: 1.8em;
}

@media screen and (max-width:767px) {
  .sp_aL{text-align:left !important;}
  .sp_aC{text-align:center !important;}
  .sp_aR{text-align:right !important;}
}

/* pc / sp
-------------------------------------------------- */
@media print, screen and (min-width: 768px){
	.sp_only{
		display: none !important;
	}
}
@media screen and (max-width: 767px){
	.pc_only{
		display: none !important;
	}
}
@media screen and (max-width:360px), screen and (min-width:768px){
	.forO360_U768{
		display: none !important;
	}
}
@media print, screen and (min-width: 1201px){
	.forU1200{
		display: none !important;
	}
}
@media print, screen and (min-width: 361px){
	.forU360{
		display: none !important;
	}
}
@media screen and (max-width: 1200px){
	.forO1200{
		display: none !important;
	}
}
@media screen and (max-width: 360px){
	.forO360{
		display: none !important;
	}
}
@media print, screen and (min-width: 321px){
	.forU320{
		display: none !important;
	}
}
@media screen and (max-width: 320px){
	.forO320{
		display: none !important;
	}
}

/* wrap
-------------------------------------------------- */
.content_wrap{ 
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.content_block{
  padding-left: 25px;
  padding-right: 25px;
}
.content_inner{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.sec_wrap{
  margin-top: 60px;
}
.sec_content{
  margin-top: 40px;
}

@media screen and (max-width:767px) {
  .sec_wrap{
    margin-top: 40px;
  }
  .sec_content{
    margin-top: 30px;
  }
}
/*  txt
-------------------------------------------------- */
.f-small{ font-size: 80%;}
.f-large{ font-size: 116%}

.fc-black{ color: #222;}
.fc-red{ color: #E7372F;}
.fc-brown{ color: #551900;}
.fc-gray{ color: #666666;}

/*c_txt*/
.c_txt_01{}
.c_txt_01 > p + p{
  margin-top: 1em;
}

.c_txt_02{}
.c_txt_02 > p{
	font-size: 16px;
}

.c_txt_03{}
.c_txt_03 > p{
	font-size: 14px;
}

.c_txt_04{}
.c_txt_04 > p{
	font-size: 12px;
}
.c_txt_line{
  text-decoration: underline;
}

@media screen and (max-width:767px) {
  .c_txt_01{}

  .c_txt_02{}
  .c_txt_02 > p{
    font-size: 14px;
  }
  .c_txt_03{}
  .c_txt_03 > p{
    font-size: 12px;
  }
  .c_txt_04{}
  .c_txt_04 > p{
    font-size: 10px;
  }
}